@import "partials/setup";
@import "partials/utils";
@import "partials/typography";

body {
    background-color: green;
    display: flex;
    flex-direction: column;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; 
}

.screen {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative; 
}

.deck, .garbageHand, .userHand {
  display: flex;
  justify-content: center; 
}

.cardContainer {
  width: 150px;
  position: absolute;
  cursor: pointer; 
}

img {
  max-width: 100%; 
}

.userHand img:hover {
  border: 3px solid gold; 
}

.pageOverlay {
  background-color: rgba(0,0,0, 0.4); 
  width: 100%;
  height: 100%;
}

.popup {
    background: white;
    padding: 100px 50px;
    border-radius: 15px;
}

.rulesHeading, .specialCardsHeading {
    text-align: center;
}

// .hidden {
//   visibility: hidden; 
// }
.rulesList, {
    padding: 0 10%;
}

// Suits Choice

.suitPick {
  margin: 30px;
  width: calc(100% / 2 - 60px);
}