@import "partials/setup";
@import "partials/utils";
@import "partials/typography";

body {
    background-color: green;
    display: flex;
    flex-direction: column;
}
.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
.screen {
    // border: 1px solid #000;
    // height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.deck, .garbageHand, .userHand {
    display: flex;
    justify-content: center;
}

.garbageHand {
    justify-content: space-between;
}
.computerHand, .userHand {
    // transform: rotate(-30deg);
}

.cardContainer {
    width: 100px;
    position: absolute;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.userHand img:hover {
    border: 3px solid gold;
}

.pageOverlay {
    background: rgba(#1d1d1d, #1d1d1d, #1d1d1d, 0.4);
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
}

.hidden {
    visibility: hidden;
}